*{
	box-sizing: border-box;
}

body{
	font: 100% 'Roboto', sans-serif;
	margin: 0;
}

.ui-bar-top{
	background-color: #333;
}
.lista-redes{
	float: left;
}
.lista-redes li{
	display: inline-block;
}
.lista-contacto{
	float: right;
}
.lista-contacto li{
	display: inline-block;
}

.logo-site{
	clear: both;
}

.centro{
	width: 1200px;
    margin: 0 auto;
}

	.centro, .centro section{
		clear: both;
	}

	.item-category {
		width: 360px;
		float: left;
		margin-right: 60px;
	}
	article > .item-category:last-child{
		margin-right: 0;
	}


.no-margin-right{
	margin-right: 0;
}



	.bloque-noticias{
		width: 850px;
		float: left;
	}

	.item-noticia {
		width: 370px;
		float: left;
	}