*{
	box-sizing: border-box;
}

body{
	font: 100% 'Roboto', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.no-margin-right{
	margin-right: 0;
}

.centro{
	width: 1200px;
    margin: 0 auto;
}

.ui-bar-top{
	background-color: #333;
	font-size: .9rem;
	padding: 10px 0;
}
	.ui-bar-top, .ui-bar-top a{
		color: #999;
	}
	.ui-bar-top li{
		margin-right: 10px;
	}
	.ui-bar-top li:last-child{
		margin-right: 0;
	}

	.lista-redes{
		float: left;
	}
	.lista-redes li{
		display: inline-block;
	}

	.lista-contacto{
		float: right;
	}
	.lista-contacto li{
		display: inline-block;
	}

.logo-site{
	clear: both;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	padding: 20px 10px;
}
	.logo-site h1{
		text-transform: uppercase;
	}
	.logo-site h1, .logo-site p{
		margin: 0;
	}
	.logo-site h1:first-letter{
		color: #deaa67;
	}

	.centro, .centro section{
		clear: both;
	}


.marco-menu{
	border-top: 1px solid #000;
	padding: 15px 0;
}
	.nav-site{
		float: left;
	}
	.nav-site ul{
		padding: 0;
		margin-top: 4px;
	}
	.nav-site li{
		display: inline-block;
		margin-right: 20px;
		text-transform: uppercase;
		font-size: 1.2em;
		font-family: 'Roboto Slab', serif;
	}
	.nav-site a{
		color: #59595e;
	}
	.form-search{
		float: right;
	}

	.form-search input{
		font-size: 1.2em;
		font-family: 'Roboto Slab', serif;
		border: 1px solid #e2e2e2;
		border-right: 0;
		padding: 4px;
	}
	.form-search button{
		border: 0;
		background: none;
		background-color: #deaa67;
		color: #FFF;
		padding: 11px 15px;
		position: relative;
		top: -3px;
		left: -3px;
	}



	.bloque-principal{
		margin-bottom: 40px;
	}

	.bloque-noticias{
		width: 850px;
		float: left;
	}

	.item-noticia {
		width: 370px;
		float: left;
		padding: 14px;
		margin: 0 40px 40px 0;
		border: 1px solid #e2e2e2;
		font-family: 'Roboto Slab', serif;
	}
	.box-orange{
		background-color: #deaa67;
		padding: 12px;
		color: #FFF;
	}
	.title-noticia{
		line-height: 1;
	}
	.btn-leer-mas{
		border: 1px solid #deaa67;
		color: #deaa67;
		padding: 4px 10px;
	}

	.paginacion{
		clear: both;
	}


.item-category {
	width: 360px;
	float: left;
	margin-right: 60px;
}

section .item-category:last-child{
	margin-right: 0;
}
	.info-category{
		background-color: #FFF;
	    margin: 0 auto 0;
	    padding: 15px;
	    width: 80%;
	    position: relative;
	    text-align: center;
	    top: -50px;
	    border-bottom: 1px solid #deaa67;
	}
	.info-category h2{
		margin: 0;
	}

.footer-site{
	background-color: #202020;
	clear: both;
	color: #FFF;
}

.bloque-principal{
	position: relative;
}
.botones-direccion{
	position: absolute;
	z-index: 99999999;
	top: 50%;
	transform: translateY(-25px);
	width: 100%;
}
.botones-direccion a{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255, 0.5);
	border: 1px solid #333;
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 2.4;
}
#prev{
	left: 2%;
}
#next{
	right: 2%;
}