*{
	box-sizing: border-box;
}

body{
	font: 100% 'Roboto', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.no-margin-right{
	margin-right: 0;
}

.centro{
	width: 1200px;
    margin: 0 auto;
}



.bloque-principal{
	margin-bottom: 40px;
}

.bloque-noticias{
	width: 850px;
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item-noticia {
	flex-basis: calc(95% / 2);
	height: auto;
	padding: 14px;
	margin-bottom:40px;
	border: 1px solid #e2e2e2;
	font-family: 'Roboto Slab', serif;
}

.box-orange{
	background-color: #deaa67;
	padding: 12px;
	color: #FFF;
}
.title-noticia{
	line-height: 1;
}
.btn-leer-mas{
	border: 1px solid #deaa67;
	color: #deaa67;
	padding: 4px 10px;
}

.paginacion{
	clear: both;
}


.item-category {
	width: 360px;
	float: left;
	margin-right: 60px;
}

.bloque-lateral{
	width: 100%;
	background-color: gold;
	height: 20vh;
	float: right;
}

section .item-category:last-child{
	margin-right: 0;
}
	.info-category{
		background-color: #FFF;
	    margin: 0 auto 0;
	    padding: 15px;
	    width: 80%;
	    position: relative;
	    text-align: center;
	    top: -50px;
	    border-bottom: 1px solid #deaa67;
	}
	.info-category h2{
		margin: 0;
	}


@media screen and (max-width:1200px){
	.centro{
		width: 100%;
	}
}
@media screen and (max-width:850px){
	.bloque-noticias{
		width: 100%;
	}
}

@media screen and (max-width:680px){
	.item-noticia{
		flex-basis: 100%;
	}
}
